<template>
  <div>
    <h2>liste</h2>
    <div class="d-flex flex-row flex-wrap">
      <GroceryProductItem
        v-for="product in products"
        :key="product.id"
        :product="product"
      />
    </div>
  </div>
</template>

<script>
import GroceryProductItem from "./GroceryProductItem";

export default {
  components: {
    GroceryProductItem,
  },
  props: ["products"],
};
</script>

<style lang="scss" scoped>
</style>