<template>
  <div>
    <h2>FORM</h2>
    <GroceryProducstList :products="products" class="p-3" />
  </div>
</template>

<script>
import GroceryProducstList from "./GroceryProductsList";

export default {
  components: {
    GroceryProducstList,
  },
  props: ["products"],
};
</script>

<style lang="scss" scoped>
</style>