<template>
  <div class="w-25 p-3 product-container d-flex flex-column">
    <div class="d-flex flex-row justify-content-center">
      <img
        style="height: 150px"
        :src="`http://localhost:1337${product.img[0].url}`"
      />
    </div>
    <div>
      <h3>{{ product.title }}</h3>
      <hr />
    </div>
    <div>
      <p>{{ product.description }}</p>
    </div>
    <div>
      <span>{{ product.price }} €</span>
      <button
        @click="addProduct(product)"
        class="btn btn-primary btn-sm float-right mx-3"
      >
        Ajouter
      </button>
    </div>
  </div>
</template>

<script>
import { mapMutations } from "vuex";

export default {
  // data() {
  //   url: "http://localhost:1337/",
  // }
  props: ["product"],
  methods: {
    ...mapMutations("cart", ["addProduct"]),
  },
};
</script>

<style lang="scss" scoped>
</style>