<template>
  <div>
    <h1>Epicerie</h1>
    <div class="d-flex flex-row">
      <GroceryForm :products="products" class="w-75" />
      <Cart :cart="cart" class="w-25" />
    </div>
  </div>
</template>

<script>
import GroceryForm from "./GroceryForm";
import Cart from "../../../Cart/Cart";
import { mapState } from "vuex";

export default {
  components: {
    GroceryForm,
    Cart,
  },
  computed: {
    ...mapState("products", {
      products: "data",
    }),
    ...mapState("cart", {
      cart: "data",
    }),
  },
  created() {
    this.$store.dispatch("products/getProducts");
  },
};
</script>

<style lang="scss" scoped>
</style>