<template>
  <nav class="navbar navbar-expand-lg navbar-custom">
    <router-link class="navbar-brand" to="/">L'EPI</router-link>

    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <router-link class="nav-link" to="/epicerie">Epicerie</router-link>
        </li>
        <li class="nav-item active">
          <router-link class="nav-link" to="/boulangerie"
            >Boulangerie</router-link
          >
        </li>
        <li class="nav-item active">
          <router-link class="nav-link" to="/boucherie"
            >Charcuterie</router-link
          >
        </li>
        <li class="nav-item active">
          <router-link class="nav-link" to="/admin">Admin</router-link>
        </li>
      </ul>
    </div>
  </nav>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.navbar-custom {
  background-color: #a52727;
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
  color: white;
}
</style>