<template>
  <div class="container-fluid mt-5">
    <div class="welcome mt-5 mb-5">
      <h1 class="text-center">BIENVENUE SUR L'EPI</h1>
      <h3 class="text-center">Votre espace multiservices</h3>
    </div>

    <!-- A la une -->
    <div
      id="carouselExampleCaptions"
      class="carousel slide mb-5"
      data-ride="carousel"
    >
      <ol class="carousel-indicators">
        <li
          data-target="#carouselExampleCaptions"
          data-slide-to="0"
          class="active"
        ></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="../../../src/assets/images/legumes.jpg"
            class="d-block w-50 m-auto"
            alt="legumes"
          />
          <div class="carousel-caption d-none d-md-block">
            <h4>O RestO'</h4>
            <h5>Plats à emporter</h5>
            <p>Réservation au 00.00.00.00.00. Les Samedis et Dimanches midi</p>
            <button
              class="btn"
              type="button"
              data-toggle="modal"
              data-target="#staticBackdrop"
            >
              Menu
            </button>
          </div>
        </div>
        <!-- Modal -->
        <div
          class="modal fade"
          id="staticBackdrop"
          data-backdrop="static"
          data-keyboard="false"
          tabindex="-1"
          aria-labelledby="staticBackdropLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">
                  Menu du 9 au 10 Janvier 2021
                </h5>
                <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <h4>Entrée</h4>
                <p>Cheescake à la mousse de chêvre</p>
                <hr />
                <h4>Plats</h4>
                <p>Navarin d'agneau</p>
                <p>Bruschetta chêvre jambon</p>
                <p>Hamburger frites</p>
                <hr />
                <h4>Dessert</h4>
                <p>Mousse au sirop d'érable, noix de Pécan</p>
                <p>et caramel</p>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-dismiss="modal"
                >
                  Close
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img
            src="../../../src/assets/images/boulangerie.jpg"
            class="d-block w-50 m-auto"
            alt="pains"
          />
          <div class="carousel-caption d-none d-md-block">
            <h5>Second slide label</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img
            src="../../../src/assets/images/fromages.jpg"
            class="d-block w-50 m-auto"
            alt="fromages"
          />
          <div class="carousel-caption d-none d-md-block">
            <h5>Third slide label</h5>
            <p>
              Praesent commodo cursus magna, vel scelerisque nisl consectetur.
            </p>
          </div>
        </div>
      </div>
      <a
        class="carousel-control-prev"
        href="#carouselExampleCaptions"
        role="button"
        data-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a
        class="carousel-control-next"
        href="#carouselExampleCaptions"
        role="button"
        data-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <hr class="w-25" />

    <!-- Boutiques -->
    <div class="jumbotron jumbotron-fluid mt-5">
      <div class="container d-flex flex-row">
        <div>
          <img src="../../../src/assets/images/legumes.jpg" alt="" />
        </div>
        <div class="d-flex flex-column">
          <h3 class="display-6">Fruits, légumes et épicerie</h3>
          <p class="lead">
            This is a modified jumbotron that occupies the entire horizontal
            space of its parent.
          </p>
          <router-link to="/epicerie" tag="button" class="btn">
            COMMANDER
          </router-link>
        </div>
      </div>
    </div>
    <div class="jumbotron jumbotron-fluid mt-5">
      <div class="container d-flex flex-row">
        <div class="d-flex flex-column">
          <h3 class="display-6">Boulangerie</h3>
          <p class="lead">
            This is a modified jumbotron that occupies the entire horizontal
            space of its parent.
          </p>
          <router-link to="/boulangerie" tag="button" class="btn">
            COMMANDER
          </router-link>
        </div>
        <div>
          <img src="../../../src/assets/images/boulangerie.jpg" alt="" />
        </div>
      </div>
    </div>
    <div class="jumbotron jumbotron-fluid mt-5">
      <div class="container d-flex flex-row">
        <div>
          <img src="../../../src/assets/images/fromages.jpg" alt="" />
        </div>
        <div class="d-flex flex-column">
          <h3 class="display-6">Boucherie Charcuterie</h3>
          <p class="lead">
            This is a modified jumbotron that occupies the entire horizontal
            space of its parent.
          </p>
          <router-link to="/boucherie" tag="button" class="btn">
            COMMANDER
          </router-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
hr {
  border: none;
  height: 2px;
  background-color: darkslategray;
}

.btn {
  max-width: 150px;
  color: white;
  background-color: rgb(73, 116, 116);
}

.carousel {
  margin-top: 150px;
}

.carousel h4,
.carousel h5,
.carousel p {
  color: #000000d1;
  font-weight: 700;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.carousel .carousel-item img {
  opacity: 0.5;
}

.carousel-control-prev,
.carousel-control-next {
  width: 50px;
  height: 50px;
  border: none;
  background-color: darkslategray;
  border-radius: 50px;
  text-align: center;
}

.modal-body h4 {
  color: #a52727;
}

.jumbotron {
  padding: 0;
}

.jumbotron .container img {
  width: 400px;
}
</style>