<template>
  <div id="app">
    <the-header />
    <div class="d-flex flex_row">
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
import TheHeader from "./components/TheHeader";

export default {
  name: "App",
  components: {
    TheHeader,
  },
};
</script>

<style>
</style>
