<template>
  <div>
    <CartProductsList :cart="cart" class="p-3" />
  </div>
</template>

<script>
import CartProductsList from "./CartProducstList";

export default {
  props: ["cart"],
  components: {
    CartProductsList,
  },
};
</script>

<style>
</style>