<template>
  <div class="d-flex flex-row justify-content-between p-2">
    <span style="width: 150px">{{ item.name }}</span>
    <span
      ><strong>{{ item.price | price }}</strong></span
    >
    <button @click="removeProduct(item.id)" class="close">
      <span>&times;</span>
    </button>
  </div>
</template>

<script>
import { mapMutations } from "vuex";

export default {
  props: ["item"],
  methods: {
    ...mapMutations("cart", ["removeProduct"]),
  },
};
</script>

<style>
</style>